<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/icon.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="header">
        <div></div>
        <div class="header-text">
            AquaHobby
        </div>
        <div class="login-block">
           
        </div>
    </div>
    <div class="center-block">
        <div class="left-menu">
           
            <div class="link icon home">
                <a href="/User/MyHomeContent">
                    Home
                </a>
            </div>
            <div class="link icon account">
                <a href="/User/Profile">
                    Accaunt
                </a>
            </div>
            
          
        </div>
        <div class="content">
            @RenderBody()

        </div>
        <div class="right-menu">
            <div class="login-block">
                <div>
                    <div class="link icon registration">
                        <a href="/User/Registration">
                            Регистрация
                        </a>
                    </div>
                </div>
                <div>
                    <div class="link icon login">
                        <a href="/User/Login">
                            Вход
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer">
        <div></div>
        <div class="footer-text">Copyright : Жуковень Владимир</div>
        <div></div>
    </footer>
</body>
</html>
