
<div class="content-up">

    <div class="content-up-left">
        <div>
            <img src="~/image/fauna.jpg" />
        </div>
        <div class="content-name">
            <span>Фауна</span>
        </div>
    </div>

    <div class="content-up-right">
        <div>
            <img src="~/image/flora.jpg" />
        </div>
        <div class="content-name">
            <span>Флора</span>
        </div>
    </div>

</div>

<div class="content-down">

    <div class="content-down-left">
        <div>
            <img src="~/image/oborudovanie.jpg" />
        </div>
        <div class="content-name">
            <span>Оборудование</span>
        </div>
    </div>

    <div class="content-down-right">
        <div>
            <img src="~/image/aquarium.jpg" />
        </div>
        <div class="content-name">
            <span>Аквариум</span>
        </div>
    </div>
</div>

        </div>